In [6]:
# Dependencies
import pandas as pd
import numpy as np
import yfinance as yf
import datetime as dt
import pymongo
from pymongo import MongoClient

In [9]:
client = MongoClient("mongodb://localhost:27017/")
db = client.stock_predictions
collection = db.stock_ticker
document = collection.find_one()
ticker = document['ticker']
ticker

'CVE'

In [15]:
data = yf.download(ticker, '2021-01-01', dt.datetime.date(dt.datetime.now()).isoformat(), interval='1d')
data.drop(['Adj Close', 'Volume'], axis=1, inplace=True)    
data['Day Result'] = np.where(data['Close'] > data['Open'], 1, 0)
df = pd.DataFrame(data)
df.drop(columns='Close', inplace=True)
df

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low  Day Result
Date
2021-01-04   6.140000   6.320000   6.110000           1
2021-01-05   6.300000   6.680000   6.270000           1
2021-01-06   6.710000   6.820000   6.540000           0
2021-01-07   6.790000   6.900000   6.710000           1
2021-01-08   6.900000   6.930000   6.490000           0
...               ...        ...        ...         ...
2022-05-12  19.110001  19.260000  18.410000           0
2022-05-13  19.500000  20.290001  19.500000           1
2022-05-16  20.209999  20.799999  20.209999           1
2022-05-17  20.959999  21.120001  20.740000           1
2022-05-18  21.219999  21.250000  20.559999           0

[347 rows x 4 columns]